.nav-menu {
  margin-top: 2.5rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.88);
  z-index: 100;
  border-radius: 4rem;
  padding: .5rem;

  button {
    padding-bottom: .5rem;
  }

  .menu-list {
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  li {
    transition: 0.2s;
    list-style: none;
    margin-left: 2rem;
    padding: .5rem;

    a:hover{
        border: 1px solid $color-five-darkgrey;
        border-radius: 5px;
    }
  }
}
.user-btns{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  & a{
    margin-left: 2rem;
    text-decoration: none;
    cursor: pointer;
  }
  #basic-button{
    text-decoration: none;
    text-transform: none;
    font-family: $font-base;
    color: black;
    font-size: .8rem;
  }

}

.menu-link {
  padding: .5rem;
  border: 1px solid transparent;
transition: 0.2s;
  &:hover {
    border: 1px solid $color-third-yellowish;
    border-radius: 5px;

  }
}
.header-menu-disabled {
  opacity: .5;
}