.nav-menu {
  margin-top: 2.5rem;
  right: 0;


  button {
    padding: .5rem;
  }

  .menu-list {
    margin-top: 1.6rem;
  }

  li {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    list-style: none;

    a {
      text-decoration: none;
      cursor: pointer;
    }
  }
}