#home-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  overflow: hidden;
  background-image: url("/src/assets/Home-Hero-Image.jpg");
  background-position: -20% -2rem;
  background-size: 70%;
  background-repeat: no-repeat;
  height: 40rem;
}

.landing-form {
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 1.5rem;
  }

  img {
    margin-bottom: 1.5rem;
  }
}

.landing-form-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-lg {
  @include btns-lg;
}

.stats {
  background-color: $color-third-yellowish;
  @include sections;

  span {
    @include spans;
    font-size: 3rem;
    font-weight: 300;

    p:first-child {
      font-size: 1rem;
      font-weight: 400;
    }

    p:nth-child(2) {
      font-size: .8rem;
      font-family: $font-alt;
      font-weight: 300;
    }
  }
}

.idea-header {
  padding: 2rem;
  @include sections;
  flex-direction: column;
}

.idea-desc {
  padding-top: 1rem;
  background-color: $color-primary-bright;
  position: relative;
  @include sections;

  span {
    @include spans;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
      width: auto;
      padding: 0;
      margin: 0;
    }

    p:first-of-type {
      padding-bottom: 0.6rem;
      font-size: 1.2rem;
      position: relative;
      text-align: center;

      &:before {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: black;
        transform: translate(-50%, 50%);
        bottom: 0;
        left: 50%;
      }
    }

    p {
      margin: 0;
      font-size: 1rem;
      width: 80%;
      padding-top: .5rem;
    }
  }
}

#idea {
  position: relative;

  .btn-lg {
    @include btns-lg;
    font-size: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: 0;
  }
}

#about {
  @include sections;
  margin-top: 8rem;
  align-items: stretch;
  background-color: $color-primary-bright;

  img:last-child {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
}

.about-us {
  text-align: center;
  height: auto;
  width: 50%;
  padding-top: 5rem;

  img {
    height: auto;
    width: 40%;
  }

  p {
    font-size: 1.8rem;
    margin: 0;
    padding: 0 2rem;
  }
}

h3 {
  font-size: 2.4rem;
  margin: 0;
  padding-bottom: 1.2rem;
}

#contact {
  height: 50rem;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("/src/assets/Background-Contact-Form.jpg");
  background-size: 90%;
  background-repeat: no-repeat;
  position: relative;

  .contact-us {
    width: 35%;
    padding-top: 4rem;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 15%;
    top: 4%;
  }

  form {
    position: relative;
    width: 80%;

    ::placeholder {
      font-family: $font-base;
      opacity: .5;
    }

    input, textarea {
      border: none;
      border-bottom: 1px solid $color-five-darkgrey;
      padding: .5rem 0;
      text-align: left;
      font-family: $font-base;

    }

    textarea {
      resize: none;
      width: 100%;
      height: 5rem;
      overflow: hidden;
    }

    label {
      font-weight: 600;
      padding: .5rem 0;
    }

    .form-input1 {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      div {
        display: flex;
        flex-direction: column;
        padding: 2rem 7rem 0 0;
        align-items: flex-start;

        label {
          margin-bottom: 1rem;
        }
      }
    }

    .form-input {
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    button {
      position: absolute;
      right: 0;
      margin-top: 2rem;
      padding: .4rem 1.4rem;
      background: transparent;
      border: 1px solid $color-four-grey;
      border-radius: 5px;
      font-size: 1.1rem;
    }
  }

  footer {
    width: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    left: 60%;
    transform: translateX(-50%);

    img {
      padding-inline: .5rem;
    }

    div:first-of-type {
      padding-right: 55%;
    }
  }
}